<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Title</title>
</head>
<body>

<form th:method="post" th:object="${wishlist}">
    <div>
        <label for="wishlistName">Name of wishlist:</label>
        <input type="text" id="wishlistName" th:field="*{wishlistName}">
    </div>

    <div>
        <button type="submit">Add wishlist</button>
    </div>


    <a th:href="@{/profile}">
        <button class="profile">Profile</button>
    </a>


    <a th:href="@{/logout}">
        <button class="logout">Logout</button>
    </a>


</form>

</body>
</html>