<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Add Wish</title>
</head>
<body>

<form th:method="post" th:object="${newWish}">
    <div>
        <label for="wishName">Wish Name:</label>
        <input type="text" id="wishName" th:field="*{wishName}">
    </div>

    <div>
        <label for="wishLink">Wish Link:</label>
        <input type="text" id="wishLink" th:field="*{wishLink}">
    </div>

    <div>
        <label for="selectedWishlistId">Select Wishlist:</label>
        <select id="selectedWishlistId" th:field="*{selectedWishlistId}">
            <option th:each="wishlist : ${newWish.wishlists}"
                    th:value="${wishlist.wishlistId}"
                    th:text="${wishlist.wishlistName}">
            </option>
        </select>
    </div>

    <div>
        <button type="submit">Add Wish</button>
    </div>
</form>

</body>
</html>
