<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Wishlists</title>
</head>
<body>
<h1>Your wishlists</h1>
<table>
    <thead>
    <tr>
        <th scope="col">Wishlist Name</th>
        <th scope="col">Link</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wishlist: ${wishlists}">
        <td th:text="${wishlist.wishlistName}"/>

        <td>
            <a th:href="@{/wishlists}" target="_self">
                Wishes
            </a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{/addwishlist}"><button>Add list</button></a>
</body>
</html>