<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Wishes</title>
</head>
<body>
<h1><span th:text="${wishlistName}"/> wishes </h1>
<table>
    <thead>
    <tr>
        <th scope="col">Wish Name</th>
        <th scope="col">Link</th>
        <th scope="col">Delete wish</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wish: ${wishes}">
        <td th:text="${wish.wishName}"/>
        <td th:text="${wish.wishLink}"/>
        <td>
            <form th:action="@{/delete/wish/{wishID}/{wishlistID} (wishID=${wish.getWishID()}, wishlistID=${wish.getWishlistID()})}" method="POST">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{/addwish/{wishlistID} (wishlistID=${wishlistID})}">
    <button>Add wish</button>
</a>
<a th:href="@{/wishlists}">
    <button>Back to your wishlists</button>
</a>
<a th:href="@{/profile}">
    <button class="profile">Profile</button>
</a>

<a th:href="@{/logout}">
    <button class="logout">Logout</button>
</a>
</body>
</html>